

:root {
    --header-background: #81b29a;
    --section-background: #f4f1de;
    --secondary: #3d405b;
    --third: #f2cc8f;
    --orange: #f98b14;
    --green: #81b29a;
  }
  

* {
   font-family: monospace; 
   margin: auto;
}



main, header, body {
    padding-top: 2%;
    padding-bottom: 2%;
}


#title-section {
    width: max-content;
}

#title {
    font-size: 380%;    
    padding-bottom: 2%;
    transition: font-size 190ms;
    color: var(--green);

}


#title:hover {
    font-size: 375%;
}

#subtitle {
    font-size: 220%;

    transition: font-size 190ms;

}


#subtitle:hover {
    font-size: 210%;
}


div {
    width:fit-content;
    background-color: var(--secondary);
    padding: 4%;
    text-align: center;
    border-radius: 10px;
    border: 3px solid;
    border-color: var(--section-background);
    box-shadow: 5px 5px 5px 5px rgb(0 0 0 / 20%);
    opacity: 1;
    transition: padding 0.2s, background-color 0.4s;
}
nav:hover {
    padding: 4.1%;
}

#top-navigation {
    display: inline-flex;
    align-items: center;
    padding-top: 12%;
    width: 100%;
}

body {
    background-color: var(--header-background);
    color: white;       
}


header {
    background-image: url(computer-2.png);
    background-position: 30%;
    background-size: 12%;
    padding-top: 10%;
    padding-bottom: 10%;
}


h3, h2 {
    font-size: xx-large;
}

p {
    font-size: larger;
}

a {
    text-decoration: none;
}

.button {
    font-size: larger;
    color: white;
    border-radius: 10px;
    border: 3px solid;
    border-color: var(--section-background);
    height: 100px;
    width: 220px;
    cursor: pointer;
    text-decoration: none;
    background-color: var(--orange);
    transition: border-color 0.4s, color 0.4s, background-color 0.4s;


}

.button:hover {
    color: var(--secondary) ;
    border-color: var(--section-background) ;
    background-color: var(--third);

}


#section1 {    
    padding: 2em;
    height: 100%;
    background-color: var(--section-background);
    padding-left:  10rem;
    padding-right:  30rem;
    color: black;
}

#article1 {

    display: inline-flex;


}