

body {
    font-family: 'Averia Gruesa Libre', cursive;
    background: linear-gradient(135deg, #ece9e6, #ffffff);
    margin: auto;
    width: 17%;
    text-align: center;
    align-items: center;
    height: 100vh;
}

#form {
    background: #ffffff;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    padding: 30px; 
    margin: 2%;
    text-align: center;
}

h3 {
    font-size: 24px;
    color: #333;
    margin-bottom: 20px;
}

label {
    font-size: 18px;
    color: #555;
    margin-bottom: 10px;
    display: block;
}

input {
    width: 100%;
    padding: 10px;
    margin: 10px 0;
    border: 1px solid #ddd;
    border-radius: 5px;
    box-sizing: border-box;
    font-size: 16px;
}

input[type="text"]:focus {
    border-color: #7f8c8d;
    outline: none;
}

select {
    width: 100%;
    padding: 10px;
    margin: 10px 0;
    border: 1px solid #ddd;
    border-radius: 5px;
    box-sizing: border-box;
    font-size: 16px;
    background-color: #fff;
}

select:focus {
    border-color: #7f8c8d;
    outline: none;
}

#playerInfo {
    margin: 20px;
    text-align: center;
}

#summoner_level {
    font-size: 18px;
    color: #333;
}

#search_button {
    cursor: pointer;
    background-color: rgb(185, 13, 13); /* Original background color */
    color: white; /* Text color */
    border: none; /* Removing any default border */
    border-radius: 5px; /* Adding rounded corners */
    font-size: 16px; /* Setting font size */
    font-weight: bold; /* Making text bold */
    transition: background-color 0.3s ease, transform 0.3s ease; /* Adding transition for smooth effects */
}

#search_button:hover {
    background-color: rgb(220, 20, 20); /* Lighter shade for hover effect */
    transform: scale(1.01); /* Slightly increase the size on hover */
}

#search_button:active {
    background-color: rgb(165, 10, 10); /* Darker shade for active effect */
    transform: scale(0.99); /* Slightly decrease the size when active */
}

#search_button:focus {
    outline: none; /* Removing default focus outline */
    box-shadow: 0 0 0 3px rgba(255, 255, 255, 0.6); /* Adding custom focus outline */
}
