
* {
    margin: 0;
    padding: 0;
}
html {
    font-family: "Tiny5", sans-serif;
}

main {
    text-align: center;
}
h1 {
    margin: 2%;
}
#gameboard {
    height: 800px;
    width: 800px;
    border: 1px solid black;
    margin: 20px auto;
}

#player {
    width: 20px;
    height: 20px;
    position: relative;
    top: 0;
    background-color: rgb(34, 189, 34);
    transition: all 0.05s;
}





.enemy {
    position: relative;
    left: 780px;
    width: 20px;
    height: 20px;
    background-color: red;
}



@keyframes enemyRight {
    0%{left: 0;
        
    background-color: rgb(145, 21, 21)};
    100%{left: 800px;
    background-color: red};

}