* {
    margin: 0;
    padding: 0;
}
main {
    background-image: URL('ressources/bg.png');
    background-size: contain;
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    left: 0;
    background-size: auto 100%;
    animation: animatedBackground 1400s linear infinite;
    overflow: hidden;
    z-index: -1;
}

.object {
  position: relative;
  width: 200px;
  height: 200px;
  top: 650px;
  left: 2000px;
  animation: animatedObject 1400s linear infinite;
}

main img {
    position: relative;
    top: 650px;
    width: 15%;
    left: 200px;
    transition: all 0.5s;
    z-index: 1;
}
.animation {
    animation: jumpAnimation 1s linear;
}
@keyframes jumpAnimation {
    0% {
    top: 650px;
    }
    30% {
    top: 200px;
    }
    50% {
    top: 200px;
    }

    60% {
    top: 200px;
    transform: rotate(-360deg);
    }

    80% {
    top: 650px;
    transform: rotate(-360deg);
    }

    100% {
      top: 650px;
      transform: rotate(-360deg);

    }
}

@keyframes animatedBackground {
    from {
      background-position: 0 0;
    }
  /*use negative width if you want it to flow right to left else and positive for left to right*/
    to {
      background-position: -1000000px 0;
    }
  }
  @keyframes animatedObject {
    from {
      left: 2000px;
    }
  /*use negative width if you want it to flow right to left else and positive for left to right*/
    to {
      left: -1000000px;
    }
  }